{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock title %}

{% block body %}
    <main role="main" class="container">
        <div class="starter-template">
            <div class="row">
                <div class="col-sm-12">
                    <img src="{{ asset('img/padawan.jpg') }}" width="35%" alt="">
                    <p class="lead">De vrais projets apprenez à coder avec.</p>
                    {% if app.user %}
                        <a class="btn btn-outline-dark" href="">Un projet déposer tu souhaites</a>
                    {% else %}
                        <a class="btn btn-dark" href="">Un Padawan devenir tu souhaites</a>
                    {% endif %}
                    <a class="btn btn-outline-dark" href="">Les projets voir tu souhaites</a>
                </div>

            </div>
        </div>
    </main><!-- /.container -->
{% endblock %}
